PGHOST=localhost
PGPORT=5432
PGDATABASE=office_monitor
PGUSER=office_app
PGPASSWORD=office_app_pw
PORT=4000
SIM_TICK_MS=5000
CORS_ORIGIN=http://localhost:3000
# SIMULATOR=off   # uncomment to disable the built-in simulator loop
